*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "inter", sans-serif;
}

body{
    background: white;
}

/* SIDEBAR */

.sidebar-menu{
    display: flex;
}

ul{
    position:fixed;
    top: 0;
    bottom: 0;
    height: auto;
    left: 0;
    background: white;
    width: 210px;
    box-shadow: 1px 2px rgba(0, 0, 0, 0.1);
}

.search-box {
    position: relative;
    left: 10px;
    display: inline-block;
    width: 230px;
}

.search-box .bx{
    font-size: 18px;
    margin-left: 4px;
    margin-bottom: 6px;
    padding-right: 7px;
}

.search-txt {
    font-size: 14px;
    width: 80%;
    padding: 9px;
    padding-left: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    justify-content: space-between;
}

.search-btn {
    position: absolute;
    top: 0;
    right: 10;
    bottom: 0;
    width: 40px;
    color: rgb(108, 106, 106);
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 10px;
    width: 90px;
    height: 50px;
}

ul p{
    font-size: 15px;
    color: rgb(97, 97, 97);
    margin-left: 10px;
    padding: 3px;
    font-weight: bold;
}

a{
    position: relative;
    color: rgb(97, 97, 97);
    font-size: 14px;
    display: table;
    width: 280px;
    padding: 7px;
    padding-left: 15px;
}

ul .bx{
    position:relative;
    top: 4px; 
    left: -2px;
    width: 30px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.menu .menu-item{
    color: rgb(108, 106, 106);
    transform: translateY(-25px);
    font-size: 25px;
    padding-left:170px;
}

.settings{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
}

.line {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    position: relative;
    top: 425px;
}

.user-wrapper{
    position: absolute;
    bottom: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.user-wrapper img{
    margin-left: 10px;
    border-radius: 50%;
    margin-right: 0.5rem;
}

.user-wrapper small{
    display: inline-block;
    color: grey;
}

.user-wrapper i{
    position: relative;
    top: -10px;
    padding-right: 11px;
    padding-bottom: 9px;
}

/* HEADER */
.main-content{
    position: relative;
    margin-left: 240px;
}

header{
    position: fixed;
    left: 211px;
    top: 0;
    z-index: 100;
    width: calc(100% - 213px);
    background: #fff;
    height: 60px;
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    transition: left 500ms;
}
  
.search-wrapper{
    display: flex;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
    height: 33px;
    width: 245px;
    margin-left: 70%;
}

.search-wrapper .bx{
    margin-left: 12px;
    color: solid rgba(49, 46, 46, 0.1);
}
  
.search-wrapper input {
    outline: 0;
    padding: 0.5rem;
    height: 5px;
    border-radius: 20px;
}
  
.avatar img{
    float: left;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    flex-direction:column;
    justify-content: right;
}

/*KONTEN*/
:root {
    font-family: Inter;

    --white : #fff;
    --black : #000;

    --gray-50: #F9FAFB;
    --gray-100: #F2F4F7;
    --gray-200: #EAECF0;
    --gray-300: #D0D5DD;
    --gray-500: #667085;
    --gray-700: #344054;
    --gray-900: #101828;

    --blue-50: #EFF8FF;
    --blue-400: #53B1FD;
    --blue-600: #1570EF;
    --blue-700: #175CD3;
    --blue-800: #1849A9;

    --success-50: #ECFDF3;
    --success-70: #027A48;
}

.label {
    color: var(--Gray-700, #344054);

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.text-14 {
    color: var(--Gray-500, #667085);

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.text-16 {
    color: var(--Gray-500, #667085);

    /* Text md/Normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.text-18 {
    color: var(--Gray-900, #101828);

    /* Text lg/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.article {
    position: relative;
    margin-top: 8px;
    overflow-x: auto;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-right: -11px;
    margin-left: -20px;
    gap: 24px;
}

.container {
    position: relative;
    margin-top: 8px;
    overflow-x: auto;
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-right: -10px;
    margin-left: -18px;
    gap: 24px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    width: 100%;
    margin-left: -3PX;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Define column sizes */
.col-md-1 { max-width: 8.33%; }
.col-md-2 { max-width: 16.66%; }
.col-md-3 { max-width: 25%; }
.col-md-4 { max-width: 33.33%; }
.col-md-5 { max-width: 41.66%; }
.col-md-6 { max-width: 50%; }
.col-md-7 { max-width: 58.33%; }
.col-md-8 { max-width: 66.66%; }
.col-md-9 { max-width: 75%; }
.col-md-10 { max-width: 83.33%; }
.col-md-11 { max-width: 91.66%; }
.col-md-12 { max-width: 100%; }

body {
    height: 100vh;

    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "side header"
        "side main";
}

a {
    text-underline-offset: none;
}

.span-success {
    display: flex;
    width: fit-content;
    mix-blend-mode: multiply;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    background: #ECFDF3;
    color: #027A48;
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.span-dark {
    display: flex;
    width: fit-content;
    mix-blend-mode: multiply;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    background: rgb(225, 225, 225);
    color: grey;
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}


.span-info {
    display: flex;
    width: fit-content;
    mix-blend-mode: multiply;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    background: rgb(210, 225, 255);
    color: rgb(44, 22, 170);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.span-danger {
    display: flex;
    width: fit-content;
    mix-blend-mode: multiply;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    background: rgb(255, 210, 210);
    color: rgb(121, 15, 15);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.span-secondary {
    display: flex;
    width: fit-content;
    mix-blend-mode: multiply;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    background: rgb(255, 233, 227);
    color: rgb(165, 33, 0);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.biodata{
    display: flex;
    width: 100%;
    gap: 24px;
    align-items: center;
}

.biodata img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

.label {
    color: var(--Gray-700, #344054);

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.input-base {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.input-container {
    display: flex;
    height: 32px;
    padding: 4px 12px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input-field {
    border: none;
    outline: none;
    width: 100%;
    color: var(--Gray-500, #667085);

    /* Text md/Normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

textarea {
    height: 50px;
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    flex: 1 0 0;
    align-self: stretch;
    color: var(--Gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.main {
    margin-left: -88px;
    background-color: white;
    padding: 15px;
    grid-area: main;
    display: flexbox;
    position: relative;
}

.card {
    display:flexbox;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    min-height: 1px;
    height: auto;

    border-radius: 8px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: var(--White, #FFF);

    /* Shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.card-table {
    display:flexbox;
    margin-top: 15px;
    margin-left: -1%;
    margin-right: -1%;
    padding: 15px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    min-height: 1px;
    height: auto;

    border-radius: 8px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: var(--White, #FFF);

    /* Shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}
.card-header {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.text-header {
    flex: 1 0 0;
    color: var(--Gray-900, #101828);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.number-chart {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
    opacity: 0.8;
}

.number-badge {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.text-number {
    align-self: stretch;
    color: var(--Gray-900, #101828);

    /* Display md/Semibold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
}

.card-change {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.text-change {
    color: var(--Success-700, #027A48);
    text-align: center;
    
    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.card-chart {
    width: 128px;
    height: 64px;
}

.chart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
}

.chart-legend {
    display: flex;
    align-items: flex-start;
    gap: 13px;
}

.legend-series {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chart-data {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    height: 44px;
    padding: 10px 24px;
    text-align: left;
    gap: 12px;
    align-self: stretch;
    border-bottom: 1px solid var(--Gray-200, #EAECF0);
    background: var(--White, #FFF);

    color: var(--Gray-500, #667085);

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

td {
    white-space: nowrap;
    color: #626262;
    padding: 15px 24px;
    background: rgb(255, 251, 251);
    border-bottom: 1px solid rgb(236, 236, 236);

    color: var(--Gray-500, #667085);

    /* Text sm/Normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

tr:nth-child(even) {
    background-color: var(--white);
}

.table-image {
    width: 30px;
    height: 30px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 200px;
    background: var(--avatar-user-square-olivia-rhye-color-background, lightgray 50% / cover no-repeat, #C7B9DA);
}

.pagination {
    display: flex;
    padding: 12px 24px 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 0px solid var(--Gray-200, #EAECF0);
}

.button-base {
    display: flex;
    align-items: flex-start;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Blue-600, #1570EF);
    background: var(--Blue-600, #1570EF);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--White, #FFF);
    
}

.button-gray {
    display: flex;
    align-items: flex-start;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-100);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--gray-700);
    
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
 @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.frame-gray {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: var(--Gray-50, #F9FAFB);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 665px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 12px;
    background: var(--White, #FFF);
    
    /* Shadow/xl */
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);

    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

@media only screen and (min-width: 600px) and (max-width:1110px){
    /* Adjust the main-content margin-left for smaller screens */
    nav ul {
        width: 8%;
    }
    nav ul li {
        padding-left: 10px;
        text-align: left;
    }
    .logo img{
        margin-left: -13px;
        width: 70px;
        height: 40px;
    }
    .sidebar-menu li span,
    nav ul p,
    .sidebar-menu .search-box{
        display: none;
    }
    .sidebar-menu li i{
        margin-bottom: -2px;
    }
    .main {
        margin-left: -20%;
        margin-right: 10px;
        z-index: 10;
    }
    .article{
        margin-left: -40px;
    }
    header{
        width: 90%;
        margin-left: -9%;
        margin-right: 0;
    }
    .search-box input[type="search"] {
        margin-left: 10px;
        width: 10px; 
    }
    .search-wrapper{
        margin-left: 0;
        margin-right: -60%;
    }
    .line{
        display: none;
    }
    .user-wrapper .user-name,
    .user-wrapper img {
        display: none;
    }
    .user-wrapper i{
        padding-left:15px;
        color: rgb(91, 91, 91);
    }
    .sidebar-menu nav ul li.user-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}

@media only screen and (max-width: 600px) {
    /* Adjust the main-content margin-left for smaller screens */
    nav ul {
        width: 8%;
    }
    nav ul li {
        padding-left: 10px;
        text-align: left;
    }
    .logo img{
        margin-left: -13px;
        width: 70px;
        height: 40px;
    }
    .sidebar-menu li span,
    nav ul p,
    .sidebar-menu .search-box{
        display: none;
    }
    .sidebar-menu li i{
        margin-bottom: -2px;
    }
    .main {
        margin-left: -20%;
        margin-right: 10px;
        z-index: 10;
    }
    header{
        width: 91%;
        margin-left: -9%;
        margin-right: 0;
    }
    .search-box input[type="search"] {
        margin-left: 10px;
        width: 10px; 
    }
    .search-wrapper{
        margin-left: 0;
        margin-right: -60%;
    }
    .line{
        display: none;
    }
    .user-wrapper .user-name,
    .user-wrapper img {
        display: none;
    }
    .user-wrapper i{
        padding-left:15px;
        color: rgb(91, 91, 91);
    }
    .sidebar-menu nav ul li.user-wrapper {
        margin-top: 20px;
        margin-bottom: 20px;
    }
}