:root {
    font-family: Inter;

    --white : #fff;
    --black : #000;

    --gray-50: #F9FAFB;
    --gray-100: #F2F4F7;
    --gray-200: #EAECF0;
    --gray-300: #D0D5DD;
    --gray-500: #667085;
    --gray-700: #344054;
    --gray-900: #101828;

    --blue-50: #EFF8FF;
    --blue-400: #53B1FD;
    --blue-600: #1570EF;
    --blue-700: #175CD3;
    --blue-800: #1849A9;

    --success-50: #ECFDF3;
    --success-70: #027A48;
}

.label {
    color: var(--Gray-700, #344054);

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.text-14 {
    color: var(--Gray-500, #667085);

    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.text-16 {
    color: var(--Gray-500, #667085);

    /* Text md/Normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.text-18 {
    color: var(--Gray-900, #101828);

    /* Text lg/Medium */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px; /* 155.556% */
}

.container {
    display: flex;
    align-self: flex-start;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    gap: 20px;
}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5,
.col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

/* Define column sizes */
.col-md-1 { max-width: 8.333333%; }
.col-md-2 { max-width: 16.666667%; }
.col-md-3 { max-width: 25%; }
.col-md-4 { max-width: 33.333333%; }
.col-md-5 { max-width: 41.666667%; }
.col-md-6 { max-width: 50%; }
.col-md-7 { max-width: 58.333333%; }
.col-md-8 { max-width: 66.666667%; }
.col-md-9 { max-width: 75%; }
.col-md-10 { max-width: 83.333333%; }
.col-md-11 { max-width: 91.666667%; }
.col-md-12 { max-width: 100%; }

body {
    height: 100vh;
    overflow: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "side header"
        "side main";
}

span {
    display: flex;
    align-items: flex-start;
}

a {
    text-underline-offset: none;
}

.span-success {
    display: flex;
    width: fit-content;
    mix-blend-mode: multiply;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    background: var(--Success-50, #ECFDF3);
    color: var(--Success-700, #027A48);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

.span-info {
    display: flex;
    width: fit-content;
    mix-blend-mode: multiply;
    padding: 2px 8px 2px 6px;
    justify-content: center;
    align-items: center;
    gap: 6px;
    border-radius: 16px;
    background: var(--blue-50);
    color: var(--blue-700);
    text-align: center;
    
    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

/* HEADER */

.header {
    display: flex;
    background-color: var(--white);
    grid-area: header;

    border: 1px solid var(--Gray-200);
    padding: 24px 36px;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-bottom: 1px solid var(--Gray-200, #EAECF0);
}

.breadcrumb {
    display: flex;
    padding: 14px 16px;
    align-items: flex-start;
    gap: 8px;
}

.header-search {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
}

/* SIDEBAR */

.sidebar {
    background-color: var(--Gray-200,);

    padding: 0px 16px;
    grid-area: side;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1 0 0;
    align-self: stretch;
    height: 100%;
    border-right: 1px solid var(--Gray-200, #EAECF0);
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    overflow-y: auto;
    width: 250px;
}

.sidebar-top {
    display: flex;
    padding-top: 32px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.sidebar-bot {
    display: flex;
    padding: 0px 16px 32px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;
}

.sidebar-logo {
    display: flex;
    padding: 0px 20px 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}

.sidebar-search {
    display: flex;
    padding: 0px 24px;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.sidebar-search-logo {
    width: 20px;
    height: 20px;
}

.sidebar-search-text {
    color: var(--Gray-500, #667085);

    /* Text md/Normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

.sidebar-item a {
    text-decoration: none;
    color: inherit;
}

.sidebar-item {
    display: flex;
    padding: 8px 12px;
    align-items: center;
    gap: 12px;
    flex: 1 0 0;
    border-radius: 6px;
    background: var(--white, #FFF);
    color: #344054;
    font-size: 16px;
    font-family: Inter;
    font-weight: 500;
    line-height: 24px;
    word-wrap: break-word
}

.sidebar-item:hover {
    background: var(--gray-100);
} 

.sidebar-item-content {
    display: flex;
    align-items: center;
    flex: 1 0 0;   
}

.sidebar-item-logo {
    height: 24px;
    width: 24px;
}

.sidebar-item-text {
    color: var(--gray-700, #344054);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.sidebar-item-wrap {
    display: flex;
    padding: 0px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 4px;
    align-self: stretch;
}

.sidebar-title {
    color: var(--Gray-700, #344054);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.input-base {
    display: block;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
    align-self: stretch;
}

.input-container {
    display: flex;
    height: 32px;
    padding: 4px 12px;
    gap: 8px;
    justify-content: center;
    align-items: center;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
}

.input-icon {
    padding: 10px;
    width: 20px;
    height: 20px;
}

.input-field {
    border: none;
    outline: none;
    width: 100%;
    color: var(--Gray-500, #667085);

    /* Text md/Normal */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

textarea {
    height: 50px;
    display: flex;
    padding: 10px 14px;
    align-items: center;
    gap: 8px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 8px;
    border: 1px solid var(--Gray-300, #D0D5DD);
    background: var(--White, #FFF);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);

    flex: 1 0 0;
    align-self: stretch;
    color: var(--Gray-500, #667085);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
}

/* Solid border */
hr.solid {
    border-top: 2px solid var(--Gray-200, #EAECF0);
    width: 100%;
}

.account {
    display: flex;
    gap: 12px;
    padding: 0px 8px;
    justify-content: space-between;
    align-items: flex-start;
    align-self: stretch;
}

.account-avatar {
    display: flex;
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account-text {
    display: flex;
    align-items: center;
    gap: 12px;
}

.account-name {
    color: var(--Gray-900, #101828);
    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.account-email {
    color: var(--Gray-500, #667085);

    /* Text sm/Normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

.main {
    background-color: var(--white);
    padding: 15px;
    grid-area: main;
    display: grid;
    gap: 10px;
}

.card {
    display: flex;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    flex: 1 0 0;
    min-height: 1px;
    height: auto;

    border-radius: 8px;
    border: 1px solid var(--Gray-200, #EAECF0);
    background: var(--White, #FFF);

    /* Shadow/sm */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.10);
}

.card-header {
    display: flex;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
}

.text-header {
    flex: 1 0 0;
    color: var(--Gray-900, #101828);

    /* Text md/Medium */
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 150% */
}

.number-chart {
    display: flex;
    align-items: flex-end;
    gap: 8px;
    align-self: stretch;
    opacity: 0.8;
}

.number-badge {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    flex: 1 0 0;
}

.text-number {
    align-self: stretch;
    color: var(--Gray-900, #101828);

    /* Display md/Semibold */
    font-family: Inter;
    font-size: 36px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px; /* 122.222% */
    letter-spacing: -0.72px;
}

.card-change {
    display: flex;
    align-items: center;
    gap: 8px;
    align-self: stretch;
}

.change {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
}

.text-change {
    color: var(--Success-700, #027A48);
    text-align: center;
    
    /* Text sm/Medium */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; /* 142.857% */
}

.card-chart {
    width: 128px;
    height: 64px;

}

.chart {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex: 1 0 0;
    align-self: stretch;
}

.chart-legend {
    display: flex;
    align-items: flex-start;
    gap: 13px;
}

.legend-series {
    display: flex;
    align-items: center;
    gap: 8px;
}

.chart-data {
    width: 100%;
}

.table {
    width: 100%;
}

.table-badge {
    display: flex;
    padding: 20px 24px 19px 24px;
    align-items: center;
    gap: 16px;
    align-self: stretch;
}

th {
    height: 44px;
    padding: 12px 24px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-bottom: 1px solid var(--Gray-200, #EAECF0);
    background: var(--White, #FFF);

    color: var(--Gray-500, #667085);

    /* Text xs/Medium */
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px; /* 150% */
}

td {
    height: 72px;
    padding: 8px 24px;
    align-items: center;
    align-self: stretch;
    border-bottom: 1px solid var(--Gray-200, #EAECF0);
    background: var(--gray-50);
    gap: 12px;

    color: var(--Gray-500, #667085);

    /* Text sm/Normal */
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px; /* 142.857% */
}

tr:nth-child(even) {
    background-color: var(--white);
}

.table-image {
    width: 40px;
    height: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 200px;
    background: var(--avatar-user-square-olivia-rhye-color-background, lightgray 50% / cover no-repeat, #C7B9DA);
}

.pagination {
    display: flex;
    padding: 12px 24px 16px 24px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
    border: 0px solid var(--Gray-200, #EAECF0);
}

.button-base {
    display: flex;
    align-items: flex-start;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--Blue-600, #1570EF);
    background: var(--Blue-600, #1570EF);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--White, #FFF);
}

.button-gray {
    display: flex;
    align-items: flex-start;
    padding: 8px 14px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 1px solid var(--gray-700);
    background: var(--gray-100);
    
    /* Shadow/xs */
    box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
    color: var(--gray-700);
}

/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}
  
 @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

.frame-gray {
    display: flex;
    align-items: center;
    padding: 12px 16px;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    background: var(--Gray-50, #F9FAFB);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-wrap {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    width: 665px;
    padding: 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    border-radius: 12px;
    background: var(--White, #FFF);
    box-shadow: 0px 8px 8px -4px rgba(16, 24, 40, 0.03), 0px 20px 24px -4px rgba(16, 24, 40, 0.08);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    display: flex;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.modal-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    align-self: stretch;
}

.table-avatar {
    display: flex;
    align-items: center;
    gap: 8px;
}

.table-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 200px;
    background: var(--avatar-user-square-olivia-rhye-color-background, lightgray 50% / cover no-repeat, #C7B9DA);
}

.highlighted-row td {
    background-color: white;
}

.table-text-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
}

.table-text-wrapper img {
    margin-right: 10px;
}

td img {
    margin-right: 8px;
}
